@use "./shared";

.inline-link {
  display: inline-block;
  color: shared.$dark;
  text-decoration: none;

  &__name {
    display: inline-block;
    margin-left: 0.25rem;
    text-decoration: underline;
  }
}

.type-name {
  display: inline-block;

  &__name {
    display: inline-block;
    margin-left: 0.25rem;
  }
}

.type-chart {
  display: flex;
  align-items: center;
  flex-direction: column;

  @include shared.desktop {
    flex-direction: row;
  }

  &__legend {
    align-self: flex-start;
    list-style: none;

    @include shared.desktop {
      align-self: unset;
    }
  }
}
