@mixin desktop() {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin bounce {
  animation: bounce $animtime ease-in-out;
}

@keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

@mixin font-size($n) {
  @if $n == normal {
    font-size: 1rem;
    @include desktop {
      font-size: 1.2rem;
    }
  } @else if $n == small {
    font-size: 0.8rem;
    @include desktop {
      font-size: 1rem;
    }
  }
}

$lowlight: #490a3d;
$highlight: #8a9b10;
$divider: 1px solid #ccc;
$animtime: 200ms;
$sidebar-width: 350px;

* {
  box-sizing: border-box;
  overscroll-behavior: none;
}

body {
  @include font-size(normal);

  margin: 0;
  padding: 0;

  background-color: white;
  color: $lowlight;

  font-family: "Itim", cursive;
}

.editor {
  background-color: $lowlight;
  color: $highlight;

  @include desktop {
    top: 0;
    position: sticky;
    width: $sidebar-width;
    height: 100vh;
  }

  &__textarea {
    display: block;
    width: 100%;
    height: 100%;
    padding: 1rem;

    border: none;
    outline: none;
    resize: none;

    background-color: unset;
    color: unset;
    font-family: unset;
    font-size: unset;
  }
}

.router {
  @include desktop {
    margin-top: -100vh;
    margin-left: $sidebar-width;
  }
}

.page {
  width: 800px;
  max-width: 100%;
  margin: 0 auto;

  padding-top: 1rem;
  padding-bottom: 3rem;
}

.page__title {
  text-align: center;
  margin-bottom: 1rem;

  @include desktop {
    text-align: unset;
  }
}

.page__content {
  padding: 0 1.5rem;

  @include desktop {
    padding: 0;
  }
}

.nav {
  border-top: $divider;
  padding-top: 1rem;

  @include desktop {
    border-bottom: $divider;
    padding-bottom: 1rem;
  }

  &__links {
    margin: 0;
    padding: 0;
    list-style: none;

    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;

    @include desktop {
      grid-template-columns: repeat(4, max-content);
    }
  }

  &__link {
    display: flex;
    justify-content: center;
    border-bottom: $divider;
    padding-bottom: 1rem;

    color: $lowlight;
    text-decoration: none;

    @include desktop {
      justify-content: unset;
      border-bottom: unset;
      padding-bottom: unset;
    }

    &__name {
      margin-left: 0.5rem;
    }

    &--active {
      color: $highlight;

      .nav__link__icon {
        @include bounce;
      }
    }
  }
}

.region-checkboxes {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;

  @include desktop {
    grid-template-columns: repeat(4, 1fr);
  }
}

.region-checkbox {
  cursor: pointer;
  user-select: none;
  position: relative;

  padding: 0.5rem;
  border: $divider;
  border-radius: 0.5rem;

  display: flex;
  align-items: center;

  &__input {
    display: none;
  }

  &__name {
    margin-left: 0.5rem;
  }

  &:hover {
    transition: transform $animtime ease-in-out;
    transform: translateY(-1px);
  }

  &__check {
    @include bounce;

    display: none;

    position: absolute;
    top: -0.5rem;
    right: -0.5rem;
    transform: rotate(3deg);
    color: $highlight;
  }

  &--checked {
    .region-checkbox__check {
      display: unset;
    }
  }
}

.region-bulk-actions {
  @include font-size(small);

  margin: 1rem 0;

  &__action {
    cursor: pointer;
    padding: 0;

    border: unset;
    background-color: unset;
    color: unset;

    font-family: unset;
    font-size: unset;
    text-decoration: underline;

    &:hover {
      color: $highlight;
      transition: transform $animtime ease-in-out;
      transform: translateY(-1px);
    }
  }
}

.region-kanto-warning {
  padding: 1rem;
  margin-top: 1rem;
  border-radius: 0.5rem;

  background-color: $lowlight;
  color: $highlight;
}

.strictness-choice {
  cursor: pointer;

  display: flex;
  align-items: center;

  &:not(:last-child) {
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-bottom: $divider;
  }

  &__input {
    display: none;
  }

  &__text {
    margin-left: 1rem;
  }

  &__description {
    @include font-size(small);
  }

  &--checked {
    .strictness-choice__name,
    .strictness-choice__icon {
      color: $highlight;
    }

    .strictness-choice__icon {
      @include bounce;
    }
  }
}

.inline-link {
  display: inline-block;
  color: $lowlight;
  text-decoration: none;

  &__name {
    display: inline-block;
    margin-left: 0.25rem;
    text-decoration: underline;
  }
}

.type-name {
  display: inline-block;

  &__name {
    display: inline-block;
    margin-left: 0.25rem;
  }
}
