@import "tailwindcss";

@plugin "@tailwindcss/forms";
@plugin "@tailwindcss/typography";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-foreground-lesser: var(--foreground-lesser);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-warning: var(--warning);
  --color-divider-light: var(--divider-light);
  --color-divider-heavy: var(--divider-heavy);

  --font-*: initial;
  --font-sans:
    Itim, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
  --font-serif: Itim, ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: monospace;
}

:root {
  --background: white;
  --primary: var(--color-lime-600);
  --secondary: var(--color-mauve-500);
  --warning: var(--color-amber-400);

  --divider-light: var(--color-slate-300);
  --divider-heavy: var(--color-slate-700);

  --foreground: black;
  --foreground-lesser: var(--color-slate-600);
}

@layer base {
  body {
    @apply bg-background text-foreground md:text-lg;
  }
}
