@import "tailwindcss";

@plugin "@tailwindcss/forms";
@plugin "@tailwindcss/typography";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-warning: var(--warning);
  --color-footer: var(--footer);

  --color-foreground: var(--foreground);
  --color-foreground-primary: var(--foreground-primary);
  --color-foreground-secondary: var(--foreground-secondary);
  --color-foreground-lesser: var(--foreground-lesser);

  --color-divider-light: var(--divider-light);
  --color-divider-heavy: var(--divider-heavy);
  --color-shadow: var(--shadow);

  --font-*: initial;
  --font-sans:
    Itim, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
  --font-serif: Itim, ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: monospace;

  --backdrop-opacity: var(--backdrop-opacity);
}

:root {
  --background: white;
  --primary: var(--color-lime-600);
  --secondary: var(--color-mauve-500);
  --warning: var(--color-amber-400);
  --footer: var(--secondary);

  --divider-light: var(--color-slate-300);
  --divider-heavy: var(--color-slate-700);

  --foreground: black;
  --foreground-primary: white;
  --foreground-secondary: white;
  --foreground-lesser: var(--color-slate-600);

  --shadow: var(--color-slate-400);

  --backdrop-opacity: 30%;
}

.dark {
  --background: var(--color-slate-950);
  --primary: var(--color-indigo-300);
  --secondary: var(--color-slate-500);
  --warning: var(--color-amber-400);
  --footer: var(--color-slate-900);

  --divider-light: var(--color-slate-800);
  --divider-heavy: var(--color-slate-700);

  --foreground: var(--color-slate-400);
  --foreground-primary: black;
  --foreground-secondary: black;
  --foreground-lesser: var(--color-slate-500);

  --shadow: var(--color-black);

  --backdrop-opacity: 60%;
}

@layer base {
  body {
    @apply w-full bg-background text-foreground md:text-lg;
  }

  input:not([type]),
  input[type="text"],
  select {
    @apply bg-background!;
  }
}

@utility dim {
  @variant dark {
    filter: brightness(0.75);
  }
}

@utility wiggle {
  animation: wiggle 1s infinite;
}

@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }
  80% {
    transform: rotate(0deg);
  }
  85% {
    transform: rotate(5deg);
  }
  95% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

html.has-modal body {
  @apply max-md:overflow-y-hidden;
}
