@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900|Ubuntu+Mono&display=swap');

$primary: #7038F8;
$code: #222;
$note: #F8D030;
$add: green;
$remove: red;

@mixin mobile {
  @media screen and (max-width: 768px) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: 768px) {
    @content;
  }
}

.mobile {
  @include desktop {
    display: none;
  }
}

textarea {
  resize: none;
  outline: none !important;
  border: none;

  background-color: $code;
  color: white;
  font-size: 1.5rem;
  box-sizing: border-box;
  font-family: Ubuntu Mono;
  transition: 0.25s ease-in-out;
}

code {
  font-family: Ubuntu Mono;
  background-color: $code;
  color: white;
  padding: 2px 4px;
  border-radius: 4px;
}

.App {
  display: flex;
  font-family: Lato;
}

.Editor {
  background-color: $code;
  box-sizing: border-box;
  height: 100vh;
  width: 85vw;
  flex-shrink: 0;
  position: fixed;
  top: 0;
  left: 0;
  padding: 1rem 0.5rem;

  display: flex;
  flex-direction: column;
  transition: 0.25s ease-in-out;
  z-index: 99999999;

  &.Editor--closed {
    @include mobile {
      width: 0;
      overflow: hidden;
      opacity: 0;
      pointer-events: none;      
    }
  }

  @include desktop {
    width: 450px !important;
  }

  textarea {
    flex-grow: 1;
    width: 100%;

    -ms-overflow-style: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .pause-tip {
    padding-top: 0.5rem;
    color: rgba(white, 0.5);
  }
}

.Content {
  flex-grow: 1;
  flex-shrink: 1;
  padding: 1rem;
  margin-bottom: 3rem;

  @include desktop {
    margin-left: 450px;
  }

  &.Content--error {
    h1 {
      color: red;
    }
  }

  h1 {
    margin-top: 0;
  }

  h2 {
    margin-bottom: 0.5rem;
  }

  .Content__editor_toggle {
    margin-right: 0.5rem;
    cursor: pointer;
  }
}

.Breakdown {
  display: flex;
  flex-direction: column;
  
  @include desktop {
    flex-direction: row;
    align-items: center;
  }

  ul {
    padding: 0;
    list-style-type: none;
    font-size: 1rem;
    line-height: 1.7rem;
  }
}

.Button {
  background-color: #ddd;
  color: #333;
  border: none;
  outline: none !important;
  font-size: 1rem;
  font-weight: bold;
  padding: 0.5rem 0.75rem;
  border-radius: 6px;
  user-select: none;
  cursor: pointer;

  &.Button--disabled {
    color: rgba(#333, 0.75);
    cursor: not-allowed;
  }

  &.Button--primary {
    background-color: $primary;
    color: white;

    &.Button--disabled {
      color: rgba(255, 255, 255, 0.75);
    }
  }
}

.CompareAgainst {
  .CompareAgainst__options {
    margin-bottom: 1rem;

    label {
      display: block;
    }
  }

  .CompareAgainst__no_breakdown {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    padding: 1rem 0.5rem;
    box-sizing: border-box;
    margin-top: 1rem;
    height: calc(518px - 1rem);
    
    font-size: 2rem;
    font-weight: bold;

    .icon {
      font-size: 6rem;
      margin-bottom: 0.5rem;
    }
  }
}

.Tutorial {
  textarea {
    display: block;
    width: 100%;
    height: 14rem;
    font-size: 1rem;
    padding: 1rem 0.5rem;
  }
}

a, .link {
  text-decoration: none;
  color: $primary;
  cursor: pointer;
}

.Note {
  border-left: 4px solid $note;
  background-color: lighten($note, 25%);
  padding: 0.5rem;
  margin-bottom: 1rem;
}

h4 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.Recommendations {
  .Recommendations__strictness {
    label {
      margin-right: 0.5rem;
    }
  }

  .Recommendations__changes {
    margin-top: 1rem;

    p {
      margin-top: 0;
    }
  }
}

.RecommendedChange {
  display: flex;
  align-items: center;

  padding: 1rem;
  border-radius: 12px;
  border: 1px solid #ddd;
  background-color: mix(#eee, #fff, 25%);
  margin-bottom: 1rem;

  .icon {
    font-size: 2rem;
    margin-right: 0.5rem;
  }

  .RecommendedChange__content {
    h3 {
      margin-top: 0;
      margin-bottom: 0.25rem;
    }

    .action {
      font-weight: bold;

      &.action--add { color: $add }
      &.action--remove { color: $remove }
    }
  }
}

.Divider {
  width: 100%;
  height: 1px;
  background-color: #ddd;
  margin: 1.5rem 0;
}

.Exporter {
  textarea {
    width: 100%;
    height: 10rem;
    font-size: 1.1rem;
  }

  .copied {
    background-color: green;
    color: white;
    border-radius: 6px;
    padding: 0.5rem 1rem;
  }
}

.Modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999999;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: rgba(black, 0.5);
  transition: 0.1s ease-in-out;
  opacity: 0;
  pointer-events: none;

  &.Modal--open {
    opacity: 1;
    pointer-events: unset;
  }

  .Modal__content {
    background-color: white;
    box-shadow: 2px 2px 2px rgba(black, 0.5);
    padding: 1rem 2rem;
    max-width: 75vw;
  }
}

.ModifiersList {
  li {
    margin-bottom: 0.5rem;
  }
}

.Stats {
  margin-top: 1rem;
}